@model ProjectDipMVC.ViewModels.AccessDeniedViewModel

@if (User.Identity.IsAuthenticated)
{
    <h2>У вас недостаточно прав для просмотра данной страницы</h2>
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
