USE [master]
GO
/****** Object:  Database [ProjectDip]    Script Date: 11.06.2022 20:18:42 ******/
CREATE DATABASE [ProjectDip]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectDip', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProjectDip.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjectDip_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ProjectDip_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectDip].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectDip]
GO
/****** Object:  Table [dbo].[Project_Descript]    Script Date: 11.06.2022 20:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project_Descript](
	[Proj_Dscrpt_id] [int] IDENTITY(1,1) NOT NULL,
	[Section_Name] [varchar](250) NOT NULL,
	[Section_Number] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[Project_id] [int] NOT NULL,
 CONSTRAINT [PK_Proj_Dscrpt] PRIMARY KEY CLUSTERED 
(
	[Proj_Dscrpt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Section_Number] ASC,
	[Project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 11.06.2022 20:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[Project_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Date_create] [date] NOT NULL,
	[user_id] [int] NOT NULL,
	[Titul_Name] [varchar](200) NULL,
	[Titul_File] [varbinary](max) NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections_Project]    Script Date: 11.06.2022 20:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections_Project](
	[Sections_id] [int] IDENTITY(1,1) NOT NULL,
	[Name_sections] [varchar](100) NULL,
	[Number_sections] [int] NULL,
	[Proj_Dscrpt_id] [int] NULL,
	[Name_File_sections] [varchar](200) NULL,
	[File_sections] [varbinary](max) NULL,
 CONSTRAINT [PK_Sections_Project] PRIMARY KEY CLUSTERED 
(
	[Sections_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Number_sections] ASC,
	[Proj_Dscrpt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11.06.2022 20:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[login] [varchar](20) NULL,
	[password] [varchar](300) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Project_Descript]  WITH CHECK ADD  CONSTRAINT [FK_Proj_Dscrpt_Project] FOREIGN KEY([Project_id])
REFERENCES [dbo].[Projects] ([Project_id])
GO
ALTER TABLE [dbo].[Project_Descript] CHECK CONSTRAINT [FK_Proj_Dscrpt_Project]
GO
ALTER TABLE [dbo].[Project_Descript]  WITH CHECK ADD  CONSTRAINT [FK_Proj_Dscrpt_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Project_Descript] CHECK CONSTRAINT [FK_Proj_Dscrpt_Users]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Projects_Users]
GO
ALTER TABLE [dbo].[Sections_Project]  WITH CHECK ADD  CONSTRAINT [FK_Proj_Dscrpt] FOREIGN KEY([Proj_Dscrpt_id])
REFERENCES [dbo].[Project_Descript] ([Proj_Dscrpt_id])
GO
ALTER TABLE [dbo].[Sections_Project] CHECK CONSTRAINT [FK_Proj_Dscrpt]
GO
USE [master]
GO
