@model ProjectDipMVC.Models.SectionsProject

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SectionsProject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SectionsId" />
            <div class="form-group">
                <label asp-for="NameSections" class="control-label"></label>
                <input asp-for="NameSections" class="form-control" />
                <span asp-validation-for="NameSections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberSections" class="control-label"></label>
                <input asp-for="NumberSections" class="form-control" />
                <span asp-validation-for="NumberSections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjDscrptId" class="control-label"></label>
                <select asp-for="ProjDscrptId" class="form-control" asp-items="ViewBag.ProjDscrptId"></select>
                <span asp-validation-for="ProjDscrptId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameFileSections" class="control-label"></label>
                <input asp-for="NameFileSections" class="form-control" />
                <span asp-validation-for="NameFileSections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileSections" class="control-label"></label>
                <input asp-for="FileSections" class="form-control" />
                <span asp-validation-for="FileSections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
